.form-container,
.table-container {
  width: 25%;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #cccccc;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-group,
.form-control,
.btn-primary {
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-group {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #6e45e2;
}

.form-control {
  height: 8px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  padding: 15px;
  font-size: 16px;
  box-shadow: 0px 0px 10px #cccccc;
}

.form-control:hover {
  box-shadow: 0px 0px 10px #cccccc;
}

.form-group label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #6e45e2;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: 18px;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #b8b5b5;
}

.table-container {
  width: 75%;
}

.table-row,
.table-container th {
  padding: 15px;
  font-size: 18px;
}

.table-row {
  color: #6e45e2;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.table-row:hover {
  background-color: #f5f5f5;
  color: #333;
}

.table-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-row.selected {
  background-color: #d9edf7;
}

.table-container th {
  background-color: #6e45e2;
  color: white;
  font-weight: bold;
}

.table-container tbody {
  background-color: transparent;
}

/* Add font-weight */
.table-row td {
  font-weight: bold;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  font-size: 18px;
  margin-right: 10px;
}
